<table class='w-2/3 mx-auto text-left '>
  <thead>
    <tr class='border border-grey-dark p-4'>
      <th class='border border-grey-light'>Date</th>
      <th class='border border-grey-light'>Rate</th>
      <th class='border border-grey-light'>Installment</th>
      <th class='border border-grey-light'>Capital</th>
      <th class='border border-grey-light'>Interest</th>
      <th class='border border-grey-light'>Outstanding</th>
    </tr>
  </thead>
  {{#if this.paymentsArray }}
  <tbody>
    {{#each this.paymentsArray as |event|}}
      <tr>
        <td class='border border-grey-light'>{{ get event 0 }}</td>
        <td class='border border-grey-light'>{{ get event 1 }}</td>
        <td class='border border-grey-light'>{{ get event 2 }}</td>
        <td class='border border-grey-light'>{{ get event 3 }}</td>
        <td class='border border-grey-light'>{{ get event 4 }}</td>
        <td class='border border-grey-light'>{{ get event 5 }}</td>
      </tr>
    {{/each}}
  </tbody>
{{/if}}
</table>
{{yield}}
